@import "../../base";
.invoice {
  padding: 10px 0;

  &__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: $background-color;
    padding: 20px 10px;
    border-radius: 5px;
  }
  &__user {
    display: flex;
    border-radius: 5px;
  }
}
