@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap");

$text-color: #4c4c4c;

$gray-primary: #e5ebe7;
$gray-secondary: #4c4c4c;
$border-color: #b1bdb4;
$background-color: white;

$breakpoint-medium: 1224px;
$breakpoint-small: 768px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background-color: $gray-primary;
  background-attachment: fixed;
  color: $text-color;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1px;
}

@mixin line-clamp($number) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $number;
  -webkit-box-orient: vertical;
}

// ::-webkit-scrollbar {
//   width: 0px;
// }
